mixin itemBanner(idBanner, clase)
	div(class="#{clase}")
		div( id="#{idBanner}")
			script.
				googletag.cmd.push(function() { googletag.display("#{idBanner}"); });

mixin magazine(link, category, seccion, number, title, type, label, multimedia)
	a(href="#{link}").featured
		.thumb
			img(src="http://lorempixel.com/640/450/#{category}/#{number}")
			if type !== " "
				i(class="fa #{type}")
			if multimedia !== undefined
				i(class="fa #{multimedia}")
		.highlight
			h3
				span(class="#{seccion} tag") #{seccion}
				span.title #{title}
		if label !== " "
			.label
				span Patrocinado



mixin item-note(link, category, seccion, number, title, type, id, multimedia)
	a(href="#{link}").item-note
		.thumb
			img(src="img/blank.gif", data-echo="http://lorempixel.com/100/70/#{category}/#{number}")
		h3
			span.title 
				if type !== " "
					i(class="fa #{type}")
				if multimedia !== undefined
					i(class="fa #{multimedia}")
				| #{id} #{title}
			span(class="#{seccion} tag") #{seccion}

mixin item-special-notes(link, category, seccion, number, title, type, id, multimedia)
	a(href="#{link}").item-special-notes
		.thumb
			img(src="img/blank.gif", data-echo="http://lorempixel.com/200/140/#{category}/#{number}")
		h3
			span.title 
				if type !== " "
					i(class="fa #{type}")
				if multimedia !== undefined
					i(class="fa #{multimedia}")
				| #{id} #{title}
			span(class="#{seccion} tag") #{seccion}

mixin item-menu(name, url)
	li(class=(location == '#{name}' ? 'selected #{name}' : '#{name}'))
		a(href='#{url}') #{name}


mixin item-union(url, ciudad, link, nota1, nota2, nota3)
	div
		h3
			a(href="#{url}") #{ciudad}
		a(href="#{url}").url #{link}

		ul
			li
				a(href="#{url}")
					img(src="http://placehold.it/136x76")
				a(href="#") #{nota1}

			li
				a(href="#{url}")
					img(src="http://placehold.it/136x76")
				a(href="#") #{nota2}


mixin title-note(title)
	h1 #{title}
	.meta
		span Violeta Rosales Hernandez
		span Agencias
		span México
		span 01/04/2015
		span 10:46
	.addthis_responsive_sharing


